:root {
    --main-color: #212121;
   --color-grey---: #2F303A;
    --color-sky-: #2196F3;
    --color-milk-: #FFFFFF;}
body {
    font-family:'Roboto', sans-serif;} 

.body {
           
            background-color: #F5F5F5;
        }
.dec-none{
    text-decoration: none;
    color: var(--main-color);
    font-size: 14px;
    line-height: 1.71;
    font-weight: 500;
}

.page-title-footer{
    background-color:#2F303A;
          
    letter-spacing: 0.06em;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
}


.page-title{
    width: 1600px;
    height: 600px;
    text-transform: uppercase;
   
   margin-left: 0px;
   margin-top: 80px;
text-align: center;
    background: #2F303A;
 letter-spacing: 0.06em;


}
.title {padding-top: 150px;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        /*  */
        letter-spacing: 0.06em;
        color: #FFFFFF;}


 .section-se .bt{
            color: #000000;
            width: 103px;
            height: 38px;
            left: 846px;
            top: 174px;
        
            background-color: #F5F4FA;
            }
        
.bt:focus,
 .bt:hover {
   color: #FFFFFF;
background: #2196F3;
                }

    
.button .test-link {
           
            background: #2196F3;

            cursor: pointer;
           
            font-family:'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.06em;
            line-height: 1.87;
        color: var(--color-milk-) }
                  
     /* --кнопка замовити послугу------------------------*/
.test-link {
    border: none;
        width: 216px;
            height: 50px;
            left: 692px;
        font-size: 16px;  top: 430px;
      font-weight: 700;
      background: #2196F3;
        color: var(--color-milk-)
      
       
      
       
     }
            
 .bt{
    width: 112px;
    height: 38px;
    left: 726px;
    top: 174px;
    background-color: #F5F4FA;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.16;
    /* identical to box height, or 162% */
    border: none;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;}


.header-logo span{
           font-size: 26px;
            line-height: 1.19;
    /* identical to box height */
            font-family: 'Raleway';
        letter-spacing: 0.03em;
            font-weight: 700;
            color: #000000;}

.logo span {font-size: 26px;
            line-height: 1.19;
    /* identical to box height */
             letter-spacing: 0.03em;
             color: #2196F3;
            font-weight: 700;
            font-family: 'Raleway';}

.footer-logo{font-family:'Raleway';
             color: #FFFFFF;
              font-weight: 700;
              font-size: 26px;
              line-height: 1.19;
    /* identical to box height */

              letter-spacing: 0.03em;}
.footer-logo span{font-size: 26px;
             line-height: 1.19;
    /* identical to box height */
            font-family: 'Raleway';
            font-weight: 700;
            letter-spacing: 0.03em;
                  color: #2196F3}
a.logo{     font-size: 26px;
            line-height: 1.19;
    /* identical to box height */
            letter-spacing: 0.03em;
            font-family:'Raleway';
            font-weight: 700;
            color: #000000;
        }

.nav.navigation
         {color: #212121;}
.nav :focus,
.nav :hover,a.nav
           {color: #2196F3;}

.ul {
    list-style: none;
    text-decoration: none;
}

.div-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;}

.section-hh{font-family: 'Roboto';
        
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: #212121;} 
.section-hhh{
       font-family: 'Roboto';
       font-weight: 700;
       font-size: 14px;
       line-height: 1.14;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       color: #212121;
    }



 .p{
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 1.71;
         letter-spacing: 0.03em;
         color: #757575;}

.dec-ww{font-weight: 400;
         font-size: 14px;
         line-height: 1.71;
         letter-spacing: 0.03em;
         font-style: normal;
         color: #FFFFFF;}

.dec-add{font-weight: 400;
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(256, 256, 256, 0.6);}


.people{font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
    /* identical to box height */

        letter-spacing: 0.03em;

        color: #212121;}